<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 display-4">2021 Indianapolis Colts Roster</h4>
  </div>
  <%= link_to 'Add a Player', new_player_path %>
  <div class="p-3 mb-2 bg-light text-dark">
    <span class="text-info font-weight-bold">For The Shoe!</span>
    Add a player
  </div>
</div>